.App {
  text-align:center;

  font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #343a40;
}
.bg{
  color:#f5f5f7 ;
  

  background-color:#000;
}
.text{
  color: white;
  font-weight: bolder;
}
.head{
  text-align:center;
  font-size: 80px;
  background: -webkit-radial-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  font-weight:700px;
  
}
.btn{
  border-radius: 24px!important;
  margin-right: 15px;
  color: white;
}
.card{
  background-color: #ffc107;
}
.label{
  margin-right: 20px;
  background-color: #ffc107;
  padding: 7px;
  border-radius: 57%;
}
.pp{
  color: rgb(255, 81, 0);
  
}
.progress11{
  width: 100%;
  color: #ffc107;
}
.maxi{
  font-size: x-small;
  margin-top: -10px;
  
}
.perci{
  font-size: x-small;
 
}
.align-self-end{
  text-align: right;
}
.p{
  color: white;
  font-size: small;
  text-align: left;
  margin-bottom: -1px;
}
.ma{
  margin-left: 50px
}
.pop{
  margin-left: 10px;
  margin-top: 20px;
  color: white;
}
.poptext{
  margin-left: 10px;

  border-color: #26f674;
}
.popup{
  margin-left: 50%;
}
.popup4{
  height: 200px;
width: 200px;
}
.myModal{
  background-color:#c4c4c4;
  color:black;
  border-color: #FFC107;
}
.myModel:closeButton{
 color: #FFC107;
 background-color: #ffc107;
}

.myInput{
background-color: #282c34;
color: black;
}
.myInput:focus{
 background-color: #282c34;
 color: white;
 /*border-color: #FFC107;  
 box-shadow: #FFC107; */
 border-color: #FFC107;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 193, 7, 0.5);
}
.pop4{
  width: 100px;
}

.spantext{
  font-size: large;
}

.navlink{
  color: #f5f5f7;
  text-decoration: none;
  margin-left: 40px;
}
.navlink:hover{
  color:white;
  text-decoration: none;
  
}
.head1{
  text-align:center;
  font-size: 60px;
 color: #000;
  margin-left: 20px;
  font-weight:700px;
  
}
.tt{
  font-size: 25px;
  font-weight: bolder;
}
.card11{
  background: rgb(166,166,166);
background: linear-gradient(94deg, rgba(166,166,166,0.05085784313725494) 32%, rgba(255,255,255,0.9220063025210083) 100%);
}