.App {
  text-align: center;
  font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

  background-color: black;
  color: rgb(238, 238, 238);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn{
  border-radius: 50%;
}

.App-link {
  color: #61dafb;
}
.navlink{
  align-items: center;
  text-align: center;
  
  margin-left: 25px;
  font-size: large;
  color: white;
  font-weight: 100  ;
  
}
.navlink:hover{
  color: #e7e7e7!important;
  font-style: normal;
  text-decoration: none;
}

.bgnav{

  background-color: black;
}
.btn1{
  background-color: #fa3455;
  color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-radius: 20%;
  
}
.homehead{
  text-align:center;
  font-size: 80px;
  background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(131, 131, 131));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  font-weight:bolder;
  
}
.cl{
  color: #ffd11c!important;

}
.card{
  width: 300px;
  height: 450px;


  color: white;
  border-top: #ffd11c;
}
.sp{
  text-align: center;
  font-weight: 100;
  font-size: large;
  
}
.card2{
  background-color:#00152e;
  width: 350px;
  height: 300px;
  text-align: center;
  border-radius: 2%;
  border-color: #ffd11c;
}
.card1{
  background-color:black;
  width: 500px;
  height: 300px;
  text-align: justify;
}
.epoch{
  padding: 8px;
  text-align: right;
  background-color:#fa3455;
  color:white;
}
.ll{
  background-color: #e2e2e2;
  color: black;
  font-weight: 500;
  padding: 18px;
  width: 100%;
}
.ll1{

  background-image: linear-gradient(to bottom, #cbcbcb, #d8d8d8, #e5e5e5, #f2f2f2, #ffffff);
}
.ll2{
  background-color: #fa3455;
  color: rgb(247, 247, 247);
}

.approve{
  border-color: #26f674;
  background-color:black;
  border-style: solid;
  color:#26f674 ;
  border: 0.5;
  padding: 7px;
  border-radius: 7px;

}
.approve:hover{
  background-color: #26f674;
  color:black;
  border-color: black;
}
.pop{
  color: #89939f;
  background-color: black;
}
.poptext{
  border-color: #26f674;
}
.dark1{
  color: black;
  font-size: 50px;
  font-weight: 700px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myModal{
  background-color: #dadada;
  color:rgb(0, 0, 0);
  border-color: #FFC107;
  
}
.myModel:closeButton{
 color: #FFC107;
}

.myInput{
background-color: #161616;
color: rgb(0, 0, 0);
}
.myInput:focus{
 background-color: #161616;
 color: white;
 /*border-color: #FFC107;  
 box-shadow: #FFC107; */
 border-color: #FFC107;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 193, 7, 0.5);
}